{% extends "base.html.jinja" %}

{% block title %}
Persons List
{% endblock %}

{% block body %}
<table class="table" id="persons-table"></table>
<script type="module" src="/static/js/site/persons.js"></script>
{% endblock %}
